/*font*/
@font-face {
    font-family: Avenir;
    src: url('~@/assets/font/Avenir-Regular.ttf');
}
@font-face {
    font-family: Avenir Bold;
    src: url('~@/assets/font/Avenir-Bold.otf');
}

/* main css here global */
body{
    font-size: 18px;
    font-family: Avenir;
    line-height: 1.7em;
}
img {
    max-width: 100%;
    height: auto;
}
h2{
    color: #98989a;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
    font-family: Avenir Bold;
}
h2 span{
    color: #ff5100;
}
h3{
    color: #98989a;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
    font-family: Avenir Bold;
}
h3 span{
    color: #ff5100;
}
.align-right{
    text-align: right;
}
.btn-orange{
    color: #ffffff;
    font-size: 20px;
    background-color: #FF5100;
    font-weight: 500;
    padding: 10px 25px;
    text-decoration: none;
    display: inline-block;
    font-family: Avenir Bold;
}

.gap-bottom{
    margin-bottom:80px;
}
.gap-bottom-small{
    margin-bottom:40px; 
}
/***top-section**/
.top-section {
    border-bottom: 11px solid #C2D500;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    margin: auto;
}
.top-section .sub-title{
    color: #ff5100;
    text-transform: lowercase;
    font-size: 32px;
    font-weight: bold;
}
.top-section h1{
    font-size: 70px;
    color: #98989a;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: Avenir Bold;
}
.top-section h1 span{
    color: #ff5100;
}
.top-section .name{
    font-size: 24px;
}
/***home**/
table.home-table td{
    border-top: 0px solid #eee;
	border: 0px solid #eee;
	    padding: 6px 10px;
}
table.home-table{
    border: 0px solid #eee;
    margin-top: 40px;
}
table.home-table td img {
    max-width: 100%;
    height: auto;
    border-radius: 30px;
}
.orange-border{
    border: 5px solid #FF5100;
    padding: 80px 50px 50px 50px;
    text-align: center;
    margin-top: -18px;
}
.home .content-two-title{
    z-index: 99;
    max-width: 310px;
    margin: 0 auto;
    background: #Fff;
    position: relative;
}
.home .number-listing .number{
    border-radius: 100px 100px 100px 100px;
    overflow: hidden;
    border: 8px solid#ff5100;
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-family: Avenir Bold;
    width: 100px;
    display: inline-block;
    max-width: 100px;
    font-weight: 700;
    font-size: 70px;
    color: #ff5100;
    text-align: center;
    line-height: 75px;
}
.home .number-listing .row{
    margin-bottom: 50px;
}
.home .content-five h2{
    text-align:left;
    margin-bottom: 20px;
}
.home .content-five .col-7{
    padding-left:50px;
}
.home .btn-orange{
    margin-top:20px;
}
.home .content-seven h2{
    text-align: left;
}
.home .content-seven .blog-list img {
    margin-bottom: 10px;
}
.home .content-seven .blog-list h4{
    color: #98989a;
        font-size: 24px;
}
/***SmileMakers**/

.smile-makers .content-two .row{
    margin-bottom: 40px;
}
.smile-makers .content-two .gems-item{
    position: relative;
}
.smile-makers .content-two .gems-item table{
    width:100%;
}
.smile-makers .content-two .gems-item .item-description{
    background-color: #FFFFFF;
    border: 8px solid #000000;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    text-align: center;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 9999;
}
.smile-makers .content-two .gems-item .item-description{
 visibility: hidden;
}
.smile-makers .content-two .gems-item:hover .item-description{
    visibility: visible;
}
.smile-makers .content-three .out-of-the-box{
    position: relative;
}
.smile-makers .content-three .out-of-the-box .image-hover {
    height: 100%;
    background: #ff5100;
    position: absolute;
    top: 0;
    padding: 20px;
    z-index: 9999;
    border-radius: 20px 20px 20px 20px;
}
.smile-makers .content-three .out-of-the-box .image-hover{
    visibility: hidden;
}
.smile-makers .content-three .out-of-the-box:hover .image-hover{
    visibility: visible;
}
.smile-makers .content-three .out-of-the-box .image-hover h3{
    font-size: 24px;
    color: #ffffff;
    text-align: left;
    margin-bottom: 10px;
}
.smile-makers .content-three .out-of-the-box .image-hover{
    color: #ffffff;
    text-align: left;
}
.smile-makers .content-three .row{
    margin-bottom: 40px;
}