<template>
    <div class="million-smiles">
        <div class="top-section">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <p class="sub-title">1 million smiles</p>
                        <h1>Giving <span>Smiles</span> to Spread Kindness</h1>
                    </div>
                    <div class="col-6">
                      
                    </div>
                </div>
            </div>
        </div>
    <div class="main-content">
      <div class="section-one">
      <div class="container">
            <div class="row">
              <div class="col-3">
                <MenuSidebar/>
            </div>
            <div class="col-9">
              <div class="content-one sub-section">
                <p>Our flowers are harvested with love, packaged with care and shipped to your favorite grocery store every week. That only explains the journey they take. Their purpose is much more than that! Our gems share precious moments with you and your loved ones. They polish a gesture and help engrave memories in your heart. <strong>The “g.e.m.s” help Give. Everyone. More. Smiles. Get it? Cool, right?</strong></p>
                <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/874808080?h=f65479c107&autoplay=1&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div>
                
            </div>
                <div class="content-two sub-section">
                    <h2>Here’s how we <span>g.e.m.s.</span></h2>

                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                            <div class="gems-item">
                                <img src="https://www.thegemsgroup.com/wp-content/uploads/2022/08/dearsarabia_126445139_133580854889852_3849329499710097080_n.jpg" alt="">
                                <div class="item-description">
                                    <img src="https://www.thegemsgroup.com/wp-content/uploads/2022/08/Art-Lone-Star-Living-Black-and-White-Logo-012417-e1661822274271.png" alt="">
                                    <p><em>You got this girl!</em> Lone Star Living is the bouquet brand for the everyday, busy, Texas woman! Lone Star Living bouquet encourages women with relatable, affordable, and realistic life hacks!</p>
                                    <p><a href="http://www.lonestarliving.me" target="_blank" rel="noopener"><u><strong>Explore life hacks for the everyday Texas woman here!</strong></u></a></p>
                                    <table>
                                    <tbody>
                                    <tr>
                                    <td style="width: 50%; text-align: right;">Available at</td>
                                    <td style="width: 50%;text-align: left;"><img  src="https://www.thegemsgroup.com/wp-content/uploads/2022/08/Logo_of_the_HEB_Grocery_Company_LP-e1661822781310.png" alt="" width="112" height="39"></td>
                                    </tr>
                                    </tbody>
                                    </table>
                                </div>
                            </div>
                            </div>
                            <div class="col-6">
                                <div class="gems-item">
                                <img src="https://www.thegemsgroup.com/wp-content/uploads/2022/08/dearsarabia_126445139_133580854889852_3849329499710097080_n.jpg" alt="">
                                <div class="item-description">
                                    <img src="https://www.thegemsgroup.com/wp-content/uploads/2022/08/Art-Lone-Star-Living-Black-and-White-Logo-012417-e1661822274271.png" alt="">
                                    <p><em>You got this girl!</em> Lone Star Living is the bouquet brand for the everyday, busy, Texas woman! Lone Star Living bouquet encourages women with relatable, affordable, and realistic life hacks!</p>
                                    <p><a href="http://www.lonestarliving.me" target="_blank" rel="noopener"><u><strong>Explore life hacks for the everyday Texas woman here!</strong></u></a></p>
                                    <table>
                                    <tbody>
                                    <tr>
                                    <td style="width: 50%; text-align: right;">Available at</td>
                                    <td style="width: 50%;text-align: left;"><img  src="https://www.thegemsgroup.com/wp-content/uploads/2022/08/Logo_of_the_HEB_Grocery_Company_LP-e1661822781310.png" alt="" width="112" height="39"></td>
                                    </tr>
                                    </tbody>
                                    </table>
                                </div>
                            </div>
                            </div>
                         </div>
                         <div class="row">
                            <div class="col-6">
                                <div class="gems-item">
                                <img src="https://www.thegemsgroup.com/wp-content/uploads/2022/08/dearsarabia_126445139_133580854889852_3849329499710097080_n.jpg" alt="">
                                <div class="item-description">
                                    <img src="https://www.thegemsgroup.com/wp-content/uploads/2022/08/Art-Lone-Star-Living-Black-and-White-Logo-012417-e1661822274271.png" alt="">
                                    <p><em>You got this girl!</em> Lone Star Living is the bouquet brand for the everyday, busy, Texas woman! Lone Star Living bouquet encourages women with relatable, affordable, and realistic life hacks!</p>
                                    <p><a href="http://www.lonestarliving.me" target="_blank" rel="noopener"><u><strong>Explore life hacks for the everyday Texas woman here!</strong></u></a></p>
                                    <table>
                                    <tbody>
                                    <tr>
                                    <td style="width: 50%; text-align: right;">Available at</td>
                                    <td style="width: 50%;text-align: left;"><img  src="https://www.thegemsgroup.com/wp-content/uploads/2022/08/Logo_of_the_HEB_Grocery_Company_LP-e1661822781310.png" alt="" width="112" height="39"></td>
                                    </tr>
                                    </tbody>
                                    </table>
                                </div>
                            </div>
                            </div>
                            <div class="col-6">
                                <div class="gems-item">
                                <img src="https://www.thegemsgroup.com/wp-content/uploads/2022/08/dearsarabia_126445139_133580854889852_3849329499710097080_n.jpg" alt="">
                                <div class="item-description">
                                    <img src="https://www.thegemsgroup.com/wp-content/uploads/2022/08/Art-Lone-Star-Living-Black-and-White-Logo-012417-e1661822274271.png" alt="">
                                    <p><em>You got this girl!</em> Lone Star Living is the bouquet brand for the everyday, busy, Texas woman! Lone Star Living bouquet encourages women with relatable, affordable, and realistic life hacks!</p>
                                    <p><a href="http://www.lonestarliving.me" target="_blank" rel="noopener"><u><strong>Explore life hacks for the everyday Texas woman here!</strong></u></a></p>
                                    <table>
                                    <tbody>
                                    <tr>
                                    <td style="width: 50%; text-align: right;">Available at</td>
                                    <td style="width: 50%;text-align: left;"><img  src="https://www.thegemsgroup.com/wp-content/uploads/2022/08/Logo_of_the_HEB_Grocery_Company_LP-e1661822781310.png" alt="" width="112" height="39"></td>
                                    </tr>
                                    </tbody>
                                    </table>
                                </div>
                            </div>
                            </div>
                         </div>
                         <div class="row">
                            <div class="col-6">
                                <div class="gems-item">
                                <img src="https://www.thegemsgroup.com/wp-content/uploads/2022/08/dearsarabia_126445139_133580854889852_3849329499710097080_n.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="gems-item">
                                <img src="https://www.thegemsgroup.com/wp-content/uploads/2022/08/dearsarabia_126445139_133580854889852_3849329499710097080_n.jpg" alt="">
                                </div>
                            </div>
                         </div>
                    </div>
                   </div>
                  <div class="content-three sub-section">
                    <h2>Options That Are <span>Out of the Box!</span></h2>
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                            <div class="out-of-the-box">
                                <img src="https://www.thegemsgroup.com/wp-content/uploads/2020/12/SMF5879.png" alt="">
                                <div class="image-hover">
                                <h3>Ready Set Tote!</h3>
                                <p>Life isn’t easy, but our flowers are. These are our <strong>ready – to – gift</strong> totes, designed for you to just pick up, “literally” they come with handles, and give a smile to someone you care about.”</p>
                                </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="out-of-the-box">
                                    <img src="https://www.thegemsgroup.com/wp-content/uploads/2020/10/image2-300x300.jpg" alt="" width="220" height="220">
                                    <div class="image-hover">
                                    <h3>Playful Petals</h3>
                                    <p>Find your inner florist with a little DIY magic. We create bouquets with step-by-step guides to help you create your own arrangements.</p>
                                    </div>
                                </div>
                            </div>
                         </div>
                         <div class="row">
                            <div class="col-6">
                                <div class="out-of-the-box align-right">
                                    <img  src="https://www.thegemsgroup.com/wp-content/uploads/2020/10/File-Succulent-bouquet-070720@2x-300x300.png" alt="" width="220" height="220">
                                    <div class="image-hover">
                                    <h3>Keepsake Blooms</h3>
                                    <p>Flowers aren’t forever, but the moment is. So, we teamed up two fan favorite flowers + succulents. Flowers make the moment and succulents keep us reliving it.</p>
                                    </div>
                            </div>
                            </div>
                            <div class="col-6">
                                <div class="out-of-the-box">
                                <img src="https://www.thegemsgroup.com/wp-content/uploads/2020/12/image12-1024x482-1.jpg" alt="">
                                <div class="image-hover">
                                <h3>Bonus gifts</h3>
                                <p>Surprise! Who doesn’t like a little gift with your purchase? Some of our bouquets come with bonus gifts we call “picks”. These babies can range from stickers to chalkboards so you can write a little something special.</p>
                                </div>
                            </div>
                            </div>
                         </div>
                    </div>
                  </div>
                  <div class="content-four sub-section">
                    <h2>Where you can find us</h2>
                    <p>Our flowers are sold throughout supermarkets nationwide.</p>
                    <img src="https://www.thegemsgroup.com/wp-content/uploads/2020/11/From-Idea-to-Smile2.jpg" alt="">
                </div>
            </div>
          </div>
    </div>
  </div>
  
    </div>
  
  </div>
    
  </template>
  
  <script>
     import MenuSidebar from '@/components/MenuSidebar.vue';
  
     export default {
      name: 'SmileMakers',
      components: {
          "MenuSidebar":MenuSidebar , 
      }
  }
  </script>
  