<template>
    <div class="test">
      
    
       
     
  <div class="container">
    
    <!-- v-for  -->
    <div class="row" v-for="loop in loopx" :key="loop.id">
        <div class="col-2"><span class="number">{{ loop.number }}</span></div>
        <div class="col-10"> {{ loop.description }}</div>
    </div>

   
    
</div>
  
     
  
    </div>
    
</template>
  
  <!-- <script>
  // @ is an alias to /src
  import HelloWorld from '@/components/HelloWorld.vue'
  
  export default {
    name: 'HomeView',
    components: {
      HelloWorld
    }
  }
  </script> -->

  <script>
 
  import axios from 'axios';

   export default {
    name: 'TestView',
    components: {
       
        
    },
    data() {
    return {
      posts: [], 
      loopx:[]
    };
  },
  mounted() {
    axios.get('https://wordpress-317567-994437.cloudwaysapps.com/wp-json/wp/v2/pages/7069')
      .then(response => {
        this.posts = response.data;
        console.log(response.data.acf.secfour_description);
        this.loopx = response.data.acf.secfour_description;
        //response.data.acf.secfour_description
      });
  }


    
}
</script>
  