<template>
  <!-- <nav> -->
    <!-- <router-link to="/">Home</router-link> |
    <router-link to="/about">About</router-link> -->
  <!-- </nav> -->
       
            <Navbar/>

  <div id="main-wrapper">
    <router-view/>
  </div>
  <CustomFooter/>
</template>

<style>

</style>


<script setup>
  import Navbar from './components/NavBar.vue';
  import CustomFooter from './components/CustomFooter.vue';


</script>

